.masterDiv {
    height: 600px;
    width: 600px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.caja1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 200px;
    height: 200px;
    font-size: 30px;
    color: white;
    background-color:blue;
    text-align: center;
}

.caja2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 200px;
    height: 200px;
    font-size: 30px;
    color: white;
    background-color: red;
    text-align: center;
}

.caja3 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 200px;
    height: 200px;
    font-size: 30px;
    color: white;
    background-color: green;
    text-align: center;
}

p {
    margin-top: 45%;
    font-size: 20px;
}