.masterDiv {
    display: flex;
    flex-direction: row;
    height: 200px;
    width: 100%;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    justify-content: space-between;
}

.caja1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 200px;
    height: 200px;
    font-size: 30px;
    color: white;
    background-color:blue;
    text-align: center;
}

.caja2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 200px;
    height: 200px;
    font-size: 30px;
    color: white;
    background-color: red;
    text-align: center;
}

.caja3 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 200px;
    height: 200px;
    font-size: 30px;
    color: white;
    background-color: green;
    text-align: center;
}

p {
    margin-top: 45%;
    font-size: 20px;
}